<div>
  <% @products.each do |product| %>
    <div class="col-md-3">
      <% if product.image.attached? %>
           <a href="<%=  product_productimgs_path(product.id)%>">    <%= image_tag product.image.first ,class: 'product-image' %>
           </a>
      <% end %>
        <%= product.product_name %><br>
        <%= product.product_price %>
        <li>  <%= button_to "Add to Cart", items_path(:product_id => product), :method => :post  %> </li>
    </div>
  <% end %>
</div>
