<div>
  <% @products.each do |product| %>
    <div class="col-md-3">
      <% if product.image.attached? %>
           <a href="<%=  product_productimgs_path(product.id)%>">    <%= image_tag product.image.first ,class: 'product-image' %>
           </a>
      <% end %>
        <%= product.product_name %><br>
        <%= product.product_price %>
        <li> <%= button_to 'Add to Cart',  add_to_cart_cart_path(product),method: :get%> </li>
    </div>
  <% end %>
</div>
