<h2>Cart </h2>
<ul>
  <% @cart.items.each do |item| %>
    <li> <% if item.product.image.attached? %>
               <%= image_tag item.product.image.first  %>
           </a>
      <% end %>/ Price: <%= item.product.product_price %>/ Quantity: <%= item.quantity %></li> 
    
    <ul>
      <li>
        <%= link_to "Add one", item_add_path(:id => item), method: :post %>
        <%= link_to "Reduce one", item_reduce_path(:id => item), method: :post %>
      </li>
      <li>
        <%= link_to "Remove item", item_path(item), method: :delete %>
      </li>
    </ul>
    #
  <% end %>
</ul>



