<h1>Edit the Product</h1>
<%= form_with(@product, url:product_path(@product), method: :put) do |f| %>
 <p>
    <%= f.label :product_name %><br>
    <%= f.text_field :product_name %>
  </p>
  <p>
    <%= f.label :product_price %><br>
    <%= f.text_field :product_price %>
  </p>
  <p>
    <%= f.label :product_description %><br>
    <%= f.text_field :product_description %>
  </p>
  <p>
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </p>
  <p>
    <div class="actions">
    <%= f.submit "edit" %>
  </p>
</div>
<% end %>
<%= button_to 'Back', products_path %>