<p>
  <strong>Product name:</strong>
  <%= @product.product_name %>
</p>
<p>
  <strong>Product price:</strong>
  <%= @product.product_price %>
</p>
<p>
  <strong>Product description:</strong>
  <%= @product.product_description %>
</p>
<p>
 <strong>category_name:</strong>
 <%= @product.category.category_name %>
</p>
<p>
  <strong>Quantity:</strong>
  <%= @product.quantity %>
</p>
<% @product.image.each do |image| %> 
  <%= image_tag image %> <br /> 
<% end %>
<%= button_to 'Back', products_path, method: :get %>
